/*
h1{
    font-family: "Inconsolata", monospace; } 

    */

/* NORMALIZACIÓN:  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Esto mantiene el ancho y alto de padding y border */
    font-family: 'Inconsolata', monospace;
    list-style: none; /* Quita los puntos y decoración de las listas */
    text-decoration: none; /* Esto quita el subrayado de los enlaces */
    color: white;
}

body{
    background-color: black; /* (TO DO: pendiente a hacer) TODO: borrar cuando tengamos el fondo final*/
}

header{
    position: fixed; /* esto hace que el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100; /* esto hace que el header se muestre por encima*/
    width: 100%;
    display: flex; /* esto hará que los elementos se pongan en línea*/
    align-items: center; /* centra verticalmente*/
    justify-content: space-between; /* que los elementos se separen*/
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 800; /* este es el grueso de las letras*/
}

.navlist{
    display: flex; /* esto sirve para que los elementos de la lista UL se pongan el línea*/
}

.navlist a {
    margin-left: 60px; /* es para separar las palabras*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /* este es un subrayado transparente*/
    transition: all .5s ease; /* esto es para animar (transicionar) todas las características del .navlist a */
}

.navlist a:hover{
    border-bottom: 2px solid white; /* este es un subrayado blanco que aparecera cuando estemos encima con el mouse*/
}

#menu-icon{
    display: none; /* para que no aparezca en la pantalla siendo esta una computadora, ya que la idea es que aparezca en caso de abrir la web en la pantalla de un celular*/
}

#menu-icon{
    font-size: 35px;
    z-index: 101; /* para que este sobre el header*/
    cursor: pointer; /* para que aparezca la manito cuando ponemos el mouse encima*/
}

#menu-toggle{
    display: none;
}

.menu-icon-action{
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #5b116d 0%, #863d8d 25%, #2a0e30 75%);
    position: relative; /* para que sea realtivo al contenedor ( nos permite usar top, bottom, left y right)*/
    display: grid; /*para que el hero se puede dividir en dos culumnas*/
    grid-template-columns: 1fr 1fr; /*las dos columnas*/
    align-items: center; /* para alinear verticslmente el hero*/
    gap: 2rem; /* para que haya espacio de 2 rem entre las dos columnas*/
}

section{
    padding: 0 8%;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-text p{
    font-size: 80%; /* el 80 porciento del contenedor padre que va a hacer que pueda achicar junto cuando achiquemos la pantalla*/
    margin-bottom: 40px;
    line-height: 1.9;/* espacio entre las letras*/
}

.hero-img img{
    width: 450px;
    margin: 10% 0 0 10%; /* arriba, derecha, i*/
    height: auto;
    transition: all 5s linear; /* esto hace que la transicion sea lineal*/
}

.hero-img img:hover{
    width: 500px;
    opacity: 0.6;
}

.hero-text a{
    display: inline-block; /* esto me va apermitir que se le pueda dar un ancho y un alto a los botones (Portafolio y Contacto) */
    background-color: #7a6375;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px); /* para que en el eje de las X se mueva un poco*/
}

.hero-text a.mensaje{
    background-color: transparent;
    border: 1px solid white; /* para que ya venga el borde marcado*/
    margin-left: 20px; /* para que se separen*/
}

.hero-text a.mensaje i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all 0.5s ease;
}

.icons i:hover{
    color: #554051;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: rgb(146, 91, 109);
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

/* aca vamos a hacer mediaqueries para que la web sea responsive (en caso de una tablet) */

@media (max-width:1050px){
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{ 
        display: none;
    }
}

/* aca vamos a hacer otro mediaquerie para que la web sea responsive (en un celular)*/

@media (max-width: 750px) {

    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }
        
    .hero-text{ text-align: center; padding-top: 100px; }

    .hero-img{
        margin: 0;
    }

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
     position: absolute;
     top: 100%;
     right: -100%;
     width: 200px;
     height: 180px;
     background-color: #3f1947;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 30px 20px;
     transition: all .5s ease;   
    }

    .navlist a{
        display: block;
        margin: 3px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}



